<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<!-- =========== JAVASCRIPTS ============ -->
<th:block th:fragment="content">

    <script th:src="@{/Resource/js/bootstrap.js}"></script>
    <script th:src="@{/Resource/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/Resource/js/bootstrap.esm.js}"></script>
    <script th:src="@{/Resource/js/jquery.min.js}"></script>

    <script th:src="@{/Resource/js/sweetaleart2.js}"></script>
    <script th:src="@{/Resource/js/moment.js}"></script>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

</th:block>
