<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Unexpected Error !</title>
    <meta charset="utf-8">
    <th:block th:insert="Common/_css :: content"/>
</head>
<body>

<th:block th:insert="Common/header :: content"/>

<!--====== MAIN CONTENT ======-->
<h1 style="text-align: center">Internal Error !</h1>
<h5 style="text-align: center">Details: [(${InternalLog})]</h5>

<th:block th:insert="Common/footer :: content"/>

<th:block th:insert="Common/_js :: content"/>

</body>
</html>
